# Dependencies
node_modules/

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
